.custom-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
.custom-tooltip .custom-text {
  visibility: hidden;
  width: 140px;
  background-color: rgb(112, 110, 110);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.6s;
}
.custom-tooltip .custom-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(112, 110, 110) transparent transparent transparent;
}

.custom-tooltip:hover .custom-text {
  visibility: visible;
  opacity: 1;
}
